* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #f3f2ef;
  color: #333;
  line-height: 1.6;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.profile-header {
  background-color: #0072ce;
  color: white;
  padding: 30px 20px;
  border-radius: 8px 8px 0 0;
  text-align: center; 
}

.profile-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-header h1 {
  font-size: 2em;
  margin-bottom: 5px;
}

.profile-header p {
  font-size: 1.2em;
}

.profile-container {
  background-color: rgb(255, 255, 255);
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  text-align: justify
}

.education-title {
  padding-top: 30px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
  font-size: 0.9em;
}

.duration {
  font-size: 0.9em;
  color: #999;
}

.skill {
  padding-top: 30px;
}